body { background-image: url("http://i.imgur.com/WH1AXde.jpg");
        background-color: #2D3D4C;
        background-size: 150%;
        background-repeat: no-repeat;
}

#header {background-color: #E6E6B8;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: 5px solid #519EE6;
        height: 7em;
        font-size: 2em;
        font-family: Times;
        font-weight: bolder;
        color: #FF1919;
        border-radius: 4em 1em 4em 1em;
}

#sidebar {background-color: #E0E0E0;
		font-size: 16px;
		font-family: Verdana, Times;
    border: 5px solid gray;
    text-align: center;
		left: 0;
		width: auto;
		margin-left: 2%;
		padding: 5px;
		position: absolute;
}

#content {/*background-color: #99FF99;*/
margin-left:auto;
margin-right:auto;
width:60%;
height: 400px;
border-radius: 1em 4em 1em 1em;
font-size: 18px;
font-family: 'Bree Serif', serif;
color: white;
box-shadow: 0 0 15px gray;
padding: 5px;
overflow-y: auto;
}

#footer {background-color: #E0E0E0;
          text-align: center;
          bottom: 0;
          border: 5px solid gray;
          margin-top: 25px;
}

#mainpic {width: 10%;
      height: auto;
      margin-left: 38%;
      margin-right: auto;
			margin-top: 20px;
			margin-bottom: 20px;
}

.face {height: 250px;
		width: 250px;
    border-radius: 80%;
    box-shadow: 0 0 15px gray;
}

.center {text-align: center;
		font-weight: bolder;
}

.radial-center {
  /* fallback */
  background-color: #2F2727;
  background-image: url(images/radial_bg.png);
  background-position: center center;
  background-repeat: no-repeat;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #1a82f7, #2F2727);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
}

.lucky {
  font-family: 'Luckiest Guy', cursive;
  color: black;
}
.lucky:hover{
  color: inherit;
}

.denk {font-family: 'Denk One', sans-serif;}

.link {text-decoration: underline;}
.link:hover{
    text-decoration: blink;
    color: blue;
}